<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>Giorgio Armani</h1>
    
    <h2>Biografia</h2>
    
    <p>

        All’estero lo chiamano King George e non potrebbe esserci soprannome più calzante. 
        Icona dell’eleganza misurata, Giorgio Armani ha esportato nel mondo un modello di stile Made in Italy fatto di creatività e lusso. 
        Amatissimo dalle celebrities, dagli anni Settanta è a capo di un impero che comprende linee di moda e di bellezza, 
        alberghi e ristoranti, musei, una fondazione.
        Giorgio Armani nasce a Piacenza, l’11 luglio 1934. 
        Ha due fratelli, Sergio e Rosanna. Il papà Ugo è impiegato, la mamma Maria casalinga. 
        Ha un’infanzia felice, sebbene in casa non ci siano molti soldi. 
        Pochi anni dopo la sua nascita esplode la seconda guerra mondiale. 
        Si ritrova, a causa dei bombardamenti, a riparare spesso nei rifugi, e viene anche ferito e ricoverato per 40 giorni in ospedale.
        Nel 1949 la famiglia si trasferisce a Milano. Giorgio Armani si diploma e si iscrive a medicina. 
        Dopo due anni capisce che non è la sua strada, interrompe l’università per fare il servizio militare e quando rientra a Milano, inizia a lavorare alla Rinascente, grande magazzino milanese. 
        Lì svolge diverse mansioni, dagli acquisti delle collezioni maschili alla realizzazione delle vetrine.
        Nel 1965 Nino Cerruti nota il suo talento e lo chiama a disegnare la collezione uomo Hitman. 
        Giorgio Armani si appassiona al mondo dei tessuti e inizia a formarsi una sua idea di stile. 
        Capisce che il mondo della moda maschile ha bisogno di un cambiamento forte, di uno scossone. 
        Nel 1973 Giorgio Armani lascia Cerruti e, insieme al suo socio e partner di vita Sergio Galeotti, si mette in proprio facendo consulenze per grandi marchi come Max Mara, Bagutta, Allegri.
    </p>


</body>
</html>