<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>

    <div class="titolo">
    <h1>Giorgio Armani</h1>
</div>
<img id= "immagine"src="/images/Are smart teachers going out of fashion_.jpeg">
    <nav class="navbar">

<a href="/about" > About</a>
<a href="/works"> Work</a>
<a href="/gallery"> Gallery</a>

    </nav>

</body>
</html>