<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giorgio Armani's work</title>
</head>
<body>
    <h1>Carriera</h1>
    <h2>Armani fonda la sua azienda</h2>
    <p>Nel 1975 fonda la Giorgio Armani S.p.A. 
    All’inizio come marchio di abbigliamento maschile, anche femminile dall’anno successivo. 
    Il debutto è a Pitti, con una sfilata in cui sono già evidenti i punti forti del marchio: i colori, bianco e blu Armani, le giacche destrutturate, cioè senza fodere e imbottiture, con proporzioni rinnovate. 
    L’eleganza di Armani è casual, più rilassata. 
    Una vera novità per l’abbigliamento maschile, abituato al rigore di Savile Row. 
    Codici che presto diventano must anche per l’abbigliamento femminile.
    Armani veste la donna in carriera, bisognosa di praticità ed eleganza. 
    Oltre ad una precisa nuance di blu, il designer inventa il greige, un nuovo tono tra il beige e il grigio che diventerà la sua cifra stilistica. 
    Nel 1978 Diane Keaton indossa una sua giacca alla notte degli Oscar, dove vince la statuetta come migliore attrice per il film  “Io e Annie”. 
    Giorgio Armani vince il premio il Neiman Marcus Fashion Award nel 1979. 
    Nel 1980 un’altra consacrazione. 
    Richard Gere nel film American Gigolò vestirà esclusivamente Armani, portando lo stilista a una fama mondiale.
    Da quel momento il suo legame con Hollywood non si ferma più. 
    È il primo designer ad avere un assistente in pianta stabile a Los Angeles che si occupa delle celebrities. 
    Tom Cruise, Sharon Stone, Nicole Kidman, George Clooney, Beyoncé… faranno a gara per vestire Armani sul red carpet.
</p>
</body>
</html>